code {
  font-family: Arial, sans-serif;
  margin: 20px;
  border: 2px solid #000;
  padding: 10px;
  display: block;
}

.dashboard {
  text-align: center;
}

#chart-container {
  margin-top: 50px;
}

